<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <a class="navbar-brand" routerLink ="/" routerLinkActive="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dating App</font></font></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navigation toggle">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto" *ngIf="currentUser$ | async" >
        <ng-container *ngIf="currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/members" routerLinkActive="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Matches</font></font></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/lists" routerLinkActive="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lists</font></font></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/messages" routerLinkActive="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Messages</font></font></a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="/errors" routerLinkActive="active"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Errors</font></font></a>
          </li>
        </ng-container>
        
      </ul>
       <div class="dropdown" *ngIf="(currentUser$ | async) as user"  dropdown>
      <a  class="dropdown-toggle text-light" dropdownToggle>welcome {{model | titlecase}}</a>
         <div class="dropdown-menu mt-3" *dropdownMenu>
           <a class="dropdown-item">Edit Profile</a>
           <div class="dropdown-divider"></div>
           <a class="dropdown-item" (click)="logout()">Logout</a>

         </div>
       </div>

      <form *ngIf="(currentUser$ | async) === null" #loginForm="ngForm" class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
        <input name="username" [(ngModel)]="model.username"  class="form-control mr-sm-2" type="text" placeholder="Username">
        <input name="password" [(ngModel)]="model.password" class="form-control mr-sm-2" type="password" placeholder="Password">
        <button class="btn btn-success my-2 mr-sm-0" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Login</font></font></button>
      </form>
    </div>
  </div>
</nav>
